
<div class="landingPage">
    <div class="ui vertical huge menu">
        <div class="item">
            <div class="header">Events</div>
            <div class="menu">
                <a class="item" href="events.html">Future</a>
                <a class="item" href="people.hbs">Past</a>
                <div class="ui category search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search events...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<table class="ui celled table welcome">
    <thead>
    <tr>
        <th>Event name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Duration</th>
        <th>People</th>
        <th>Location</th>
    </tr>
    </thead>

    <tbody>
    {{#events}}
        <tr>
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td>{{duration}}</td>
            <td>{{people}}</td>
            <td>{{location}}</td>
            <td><i class="big address card icon"></i></td>
            <td><i class="big pencil alternate icon"></i></td>
            <td><i class="big eraser icon"></i></td>
        </tr>
    {{/events}}
    </tbody>
</table>