<div class="ui raised segment box">
    <table class="ui celled structured table">
        <thead><tr><div class="table-label">NÁHLED</div></tr>
        </thead>
        <tbody>
        {{#person}}
            <tr><td><strong>First name</strong> </td><td>{{first_name}}</td></tr>
            <tr><td><strong>Last name</strong></td><td>{{last_name}}</td></tr>
            <tr><td><strong>Date of birth</strong></td><td>{{birth_day}}</td></tr>
            <tr><td><strong>Gender</strong></td><td>{{gender}}</td></tr>
            <tr><td><strong>Job</strong></td><td>{{job}}</td></tr>
            <tr><td><strong>City</strong></td><td>{{city}}</td></tr>
            <tr><td><strong>Street name</strong></td><td>{{street}}</td></tr>
            <tr><td><strong>Street number</strong></td><td>{{street_number}}</td></tr>
            <tr><td><strong>Zip</strong></td> <td>{{zip}}</td></tr>
        {{/person}}
        </tbody>
    </table>
</div>